@model IEnumerable<FitnessTracker.Models.Workout>
@{
    ViewBag.Title = "Exercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Workout List</h2>
<p>
    @Html.ActionLink("New Exercise", "New", "Exercise", null, new { @class = "btn btn-primary" })
</p>

<table id="workout" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Weight</th>
            <th>Reps</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in Model)
        {
            <tr>
                <td>@exercise.ExerciseName</td>
                <td>@exercise.Weight</td>
                <td>@exercise.Reps</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = exercise.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = exercise.Id })</td>
            </tr>
        }
        
    </tbody>
</table>

